@use 'settings' as *;
@import 'bootstrap/scss/functions';

// Hier moet je de bootstrap scss variabelen overschrijven

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
