@use 'bs-core' as *;
@use 'core' as *;



.c-onboarding {

    &__phone {
        position: relative;
        width: 360px;
    }

    &__frame {
        width: 100%;
        display: block;
    }

    &__screen {
        position: absolute;
        top: 12%;
        left: 8%;
        width: 84%;
        height: 76%;
        background: $color-white;
        border-radius: 28px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: space-around;
    }

    /* header */
    &__header {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 2rem;
    }

    &__back {
        position: absolute;
        left: 0;
        background: none;
        border: none;
        font-size: 1.25rem;
        color: $color-green;
    }

    &__logo {
        width: 80px;
    }

    /* Lottie */
    &__lottie {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 280px;
        height: 280px;
        margin: 0 auto;
    }

    /* content */
    &__content {
        text-align: center;
        padding: 0.5rem;

    }

    &__title {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    &__text {
        font-size: 0.9rem;
        color: #666;
    }

    /* footer */
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        flex-direction: column-reverse;
        gap: 2rem;
    }

    &__dots {
        display: flex;
        gap: 0.4rem;

        &--invisible {
            display: none;
        }
    }

    &__dot {
        width: 6px;
        height: 6px;
        background: #ccc;
        border-radius: 50%;
        transition: all 0.5s ease-in-out;
    }

    &__dot--active {
        background: $color-green;
    }

    &__next {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        background: $color-green;
        color: $color-white;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;

        &:hover {
            background: darken($color-green, 10%);
        }

        &--explore {
            width: 100%;
            max-width: 200px;
            height: 48px;
            border-radius: 12px;
            font-size: 1rem;
            font-weight: bold;
            background: $color-green;
            color: #fff;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;
        }
    }

    &__nexticon {
        width: 32px;
        height: 32px;
        color: $color-white;
    }

    &__intro {
        display: none;
        height: 220px;
        align-items: center;
        justify-content: center;
    }

    &__introimg {
        width: 140px;
    }

    &__backicon {
        width: 24px;
        height: 24px;
        fill: $color-green;
        filter: drop-shadow(0 0 0 $color-green) drop-shadow(0 0 0 $color-green);
        transition: transform 0.3s ease, fill 0.3s ease;

        &:hover {
            fill: darken($color-green, 10%);
            transform: translateX(-2px);
        }
    }


}



.u-hidden {
    display: none;
}